body {
  font-size: 16px;
  padding: 10px;
  font-weight: 500;
}

.list {
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.btn {
  font-size: 16px;
  margin-right: 10px;
  min-width: 100px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 3px 5px -2px rgba(0, 0, 0, 0.75);
  transition-property: background-color, color, transform;
  transition-duration: 500ms;
}
.btn:hover {
  background-color: salmon;
  color: white;
}
.btn:active {
  transform: translateY(2px);
  box-shadow: 1px 3px 5px -4px rgba(0, 0, 0, 0.75);
}
